@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Quicksand:wght@400;700&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: 'Quicksand'
}

p, :placeholder-shown, ErrorMessage{
    font-family: 'Baskerville';
}
.font-baskerville {
    font-family: 'Baskerville';
}

.font-quicksand {
    font-family: 'Quicksand';
}
.bm-overlay {
    background: white
  }
.bm-menu {
    background-color: rgba(255, 255, 255, 0.9);
}

.bm-burger-button {
    width: 26px;
    height: 20px;
    left: 36px;
    top: 36px;
    cursor: pointer;
}
.bm-burger-bars {
    background-color: black
}

.swiper {
    width: 100%;
    height: 100%;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev {
    margin-top: -100px;
}

.swiper-button-disabled {
    margin-top: -100px;
}
.swiper-button-next {
    margin-top: -100px;
}
