@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Quicksand:wght@400;700&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: 'Quicksand'
}

p, :placeholder-shown, ErrorMessage{
    font-family: 'Baskerville';
}

.font-baskerville {
    font-family: 'Baskerville';
}

.font-quicksand {
    font-family: 'Quicksand';
}

